

    
<div class="row">
  <div class="col-md-8">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">User Registration</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="start-date">Full Name</label>
                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter Full name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter User name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword1" placeholder="Confirm Password">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="School/Institute">School/Institute</label>
                        <select class="form-control">
                          <option>Select one</option>
                          <option>School/Institute-1</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="Zone">Zone</label>
                        <select class="form-control">
                          <option>Select one</option>
                          <option>Zone</option>
                        </select>
                      </div>
                    </div>
                    

                  </div>
                </div>
                <!-- card body end -->

                <div class="card-footer">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">I Agree with Terms and Conditoins</label>
                      </div>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submit">Add</button>
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>